.topbar {
    position   : absolute;
    top        : 2.4rem;
    right      : 6.4rem;
    display    : flex;
    align-items: center;
    gap        : 3rem;
    z-index    : 3;
}

.topbar_noti {
    width           : 3.2rem;
    aspect-ratio    : 1;
    background-color: #FFF2E7;
    border-radius   : 50%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    cursor          : pointer;
    position        : relative;
}

.topbar_noti svg {
    color : var(--primary-color);
    width : 2rem;
    height: 2rem;
}

.noti_box {
    position        : absolute;
    display         : flex;
    flex-direction  : column;
    top             : 100%;
    right           : 50%;
    width           : 40rem;
    height          : 50rem;
    background-color: #fff;
    border-radius   : 1rem;
    overflow        : hidden;
    z-index         : 3;
    box-shadow: 1px 1px 5px 0 #acacac;
}

.noti_box h3 {
    padding         : 1.1rem 1.6rem;
    background-color: var(--primary-color);
    font-size       : 2.4rem;
    line-height     : 3.6rem;
    color           : #fff;
}

.noti_box-list {
    z-index : 3;
    overflow: auto;
    padding : 1.6rem;
}

.noti_box-list span {
    font-size  : 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    color      : var(--primary-color);
}

.noti_box-list p {
    font-size    : 1.2rem;
    line-height  : 2.4rem;
    font-weight  : 400;
    border-bottom: 1px solid #acacac;
}

.topbar_ava {
    display    : flex;
    align-items: center;
    gap        : 0.8rem;
}

.topbar_ava-link {
    display      : block;
    width        : 4rem;
    height       : 4rem;
    border-radius: 50%;
    overflow     : hidden;
    cursor       : pointer;
}

.topbar_ava-link img {
    width          : 100%;
    height         : 100%;
    object-fit     : cover;
    object-position: center;
}

.topbar_ava-hello small {
    font-size  : 1.2rem;
    line-height: 1.8rem;
    color      : var(--text-color);
}

.topbar_ava-hello strong {
    font-size  : 1.6rem;
    line-height: 2.4rem;
    color      : #535261;
}